{% extends 'base.html' %}

{% block title %}Редактировать: {{ event.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-warning">
                <h4 class="mb-0">Редактировать: {{ event.title }}</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">Отмена</a>
                    <a href="{% url 'search_specialists' event.id %}" class="btn btn-outline-info mt-2">
                        <i class="bi bi-people"></i> Найти специалистов
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}